---
import { getArticle,getArticles } from "../../hooks/article";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await getArticles({ fields: ['path'] })
  return response.contents.map((content: any) => ({
    params: {
      articleId: content.path
    }
  }))
}

export const prerender = true;

const {articleId} = Astro.params;
const res = await getArticle({
  filters: `path[equals]${articleId}`
});
const article = res.contents[0]
---

<Layout title="">

    <h1 class="title">{article.title}</h1>
    <p class="publishedAt">公開日時：{article.publishedAt}</p>
    <div class="post" set:html={article.content}></div>
</Layout>